@import "../../../styles/base.scss";

.home {
  width: 100%;
  .hero {
    background-image: url("../../assets/fish4.jpg");
    width: 100%;
    height: 70vh;
    border-radius: 0 0 50px 50px;
    display: flex;
    flex-direction: column;

    @include apply-at-xl-size {
      background-color: red;
      background-image: url("../../assets/fish4.jpg");
      width: 100%;
      height: 80vh;
      border-radius: 0 0 50px 50px;
    }
  }

  .banner {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
    @include apply-at-xl-size {
      height: 60vh;
    }

    .image {
      width: 100%;
      height: fit-content;

      @include apply-at-md-size {
        width: 50%;
      }
    }
  }

  .service {
    background-color: #b0d0ff;
    padding: 40px 20px;
    border-radius: 15px;
    text-align: center;

    .title {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 20px;
    }

    .grid {
      display: grid;
      grid-template-areas:
        "a a b"
        "c d d";
      gap: 20px;

      .fish-card {
        grid-area: a;
      }

      .plant-card {
        grid-area: b;
      }

      .marine-card {
        grid-area: c;
      }

      .coral-card {
        grid-area: d;
      }

      @include apply-at-md-size {
        .fish-card {
          grid-area: auto;
        }

        .plant-card {
          grid-area: auto;
        }

        .marine-card {
          grid-area: auto;
        }

        .coral-card {
          grid-area: auto;
        }
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 20px;
        justify-content: center;
        align-items: center;
        max-width: 800px;
        margin: auto;
      }
    }

    .card {
      position: relative;
      border-radius: 15px;
      overflow: hidden;
      width: 100%;
      height: 180px;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      text-align: center;
      background: rgba(0, 0, 0, 0.3);

      @include apply-at-xl-size {
        position: relative;
        border-radius: 15px;
        overflow: hidden;
        width: 100%;
        height: 180px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        text-align: center;
        background: rgba(0, 0, 0, 0.3);
      }
    }

    .card img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    .overlay {
      position: absolute;
      bottom: 0;
      width: 100%;
      background: rgba(0, 0, 0, 0.5);
      color: white;
      padding: 10px;
      font-size: 1rem;
      font-weight: bold;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
    }
  }

  .promote {
  }
}
