@import "../../styles/base.scss";

.home {
  width: 100%;
  .hero {
    background-color: red;
    background-image: url("../../assets/fish4.jpg");
    width: 100%;
    height: 70vh;
    border-radius: 0 0 50px 50px;

    @include apply-at-xl-size {
      background-color: red;
      background-image: url("../../assets/fish4.jpg");
      width: 100%;
      height: 100vh;
      border-radius: 0 0 50px 50px;
    }
  }
}
